* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: var(--background-color);
    color: black;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 10px;
    min-height: 700px;
}

:root {
    --primary-color: #605DC8;
    --secondary-color: #d7d6f1;
    --accent-color: #d7d6f1;
}

button {
    padding: 10px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
}